// Цвета
$primary-color: #007bff;
$dark-bg: #0d0d0d;
$white: #ffffff;
$contact-bg: #a21caf;
$contact-hover: #86198f;

// Шрифты
$font-primary: 'Inter', sans-serif;

// Отступы
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
